player-connection-mode=Listen
player-connection-guid=1748021436
player-connection-debug=1
player-connection-project-name=My project (3)
player-connection-ip=10.1.3.100
player-connection-ip=192.168.56.1
player-connection-ip=172.17.192.1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
build-guid=ecc668fda1da4f9ca6de404fd4c5e167
